%docbook-admon-block-title {
	all: unset;
	display: block;
	font-size: 1.5rem;
	font-weight: bold;
	margin: 1rem 0;
}

%docbook-admon-block-before-icon {
	display: inline-block;
	//font-size: 2rem; // For icon character.
	font-size: 1em; // For text label.
	font-weight: normal;
	margin: 0 0.5rem;
}

@mixin docbook-admon($fg-color, $bg, $content: null) {
	margin: $vertical-unit 0;
	padding: 0.2rem 0.5rem;

	border-left: 0.5rem $fg-color solid;

	>h1, >h2, >h3, >h4, >h5, >h6 {
		@extend %docbook-admon-block-title;

		color: $fg-color;

		&:first-child {
			margin-top: 0;
		}

		&::before {
			@extend %docbook-admon-block-before-icon;
			content: $content;
			color: $fg-color;
		}
	}

	>:last-child,
	div:last-child >:last-child {
		margin-bottom: 0;
	}
}

.#{$docbook-class-prefix}caution {
	// U+2621 CAUTION SIGN
	// U+26A0 WARNING SIGN
	//@include docbook-admon(#ea5, #f8f0d0, "\26a0");
	@include docbook-admon(#ea5, #f8f0d0, "CAUTION:");
}

.#{$docbook-class-prefix}important {
	// U+2757 HEAVY EXCLAMATION MARK SYMBOL
	//@include docbook-admon(#ea5, #f8f0d0, "\2757");
	@include docbook-admon(#ea5, #f8f0d0, "IMPORTANT:");
}

.#{$docbook-class-prefix}note {
	// U+1F5C8 NOTE
	//@include docbook-admon(#5be, #f8f0d0, "\1f5c8");
	@include docbook-admon(#5be, #f8f0d0, "NOTE:");
}

.#{$docbook-class-prefix}tip {
	// U+1F4A1 ELECTRIC LIGHT BULB
	//@include docbook-admon(#5be, #f8f0d0, "\1f4a1");
	@include docbook-admon(#5be, #f8f0d0, "TIP:");
}

.#{$docbook-class-prefix}warning {
	// U+26A0 WARNING SIGN
	//@include docbook-admon(red, #fee, "\26a0");
	@include docbook-admon(red, #fee, "WARNING:");
}
