body {
	background: #fcfcfc;
	color: #444;
	font-family: "Mplus 1p", sans-serif;

	>header {
		background: #333;
		margin-bottom: #{$vertical-unit};

		.site-title {
			$title-color: #999;
			font-size: 1rem;
			font-weight: normal;
			@include respond-to(lg) {
				font-size: 2rem;
				font-weight: bold;
			}
			color: $title-color;
			margin-top: 0;
			>a {
				&, &:visited, &:hover {
					color: $title-color;
					text-decoration: none;
				}
			}
		}
	}
	>footer {
		background: #333;
		color: #ccc;
		margin-top: #{$vertical-unit};
		padding: 1rem 0;
	}
}
