table {
	margin: 1.5rem auto;
	border-collapse: collapse;
}

caption {
	font-size: smaller;
	font-weight: bolder;
	color: #57b;
	background: inherit;
}

table:not([role="presentation"]) {
	tr {
		$border-style: 1px solid #ddd;
		border-top: $border-style;
		border-bottom: $border-style;

		&:nth-child(2n) {
			background: #f0f0f0;
		}
		table {
			background: #fcfcfc;
		}
		caption {
			background: inherit;
		}
		table:not([role="presentation"]) {
			tr {
				border-top: $border-style;
				border-bottom: $border-style;

				&:nth-child(2n) {
					background: #e0f8e0;
				}
			}
		}
	}
}

th, td {
	padding: 0.5rem;
}

thead, tfoot {
	background: #eef;
}
